<section class="faq">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="text-uppercase">Câu hỏi thường gặp</h2>
    </div>

    <div class="divi"></div>

    <div class="accordion text-muted" id="accordion">
      <div class="card">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <span>Timtronhanh.vn cung cấp sản phẩm gì đến bạn?</span>
          <span class="toggler float-right"></span>
        </button>

        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <p>
              Timtronhanh.vn là website rao vặt trực tuyến chuyên đăng tin về
              các sản phẩm bất động sản, đồng thời cung cấp thông tin của các
              bất động sản thật, giúp người mua tránh việc bị mua nhầm, mua sai
              giá hoặc vướng vào các giao dịch “ảo” trên thị trường.
            </p>
            <p>
              Với phương châm “Đúng nhà – đúng giá – đúng thời điểm”, Timtronhanh cung
              cấp đến khách hàng bộ dữ liệu thông tin giá cả bất động sản chính
              xác, nhanh chóng và kịp thời nhất. Khách hàng sử dụng dịch vụ do
              Timtronhanh.vn cung cấp sẽ sở hữu gói dữ liệu siêu “khủng” về thị trường,
              thông tin bất động sản trong khu vực, công cụ tính chi phí cũng
              như thời hạn trả góp của từng loại bất động sản khác nhau.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Đối tượng của chúng tôi là ai?
        </button>

        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p>
              Nhiệm vụ của chúng tôi là cung cấp thông tin về mức giá bất động
              sản nhanh chóng, kịp thời, chính xác nhất nên nhóm đối tượng mà
              chúng tôi hướng đến đó là nhóm người dùng thường xuyên giao dịch
              bất động sản, những người cần nắm bắt cụ thể các mức giá để thuận
              tiện trong việc mua bán. Đặc biệt nhất là những nhà môi giới bất
              động sản, chuyên gia môi giới bất động sản, thì Timtronhanh.vn chính là
              công cụ tối ưu nhất để bạn kịp thời nắm bắt các thông tin về mức
              giá hiện tại của các khu vực, các dự án bất động sản ở bất kì đâu.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Vì sao bạn nên chọn chúng tôi?
        </button>

        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p>
              Công năng tối ưu, phạm vị toàn quốc, độ phong phú cao,
              Timtronhanh.vn sở hữu đội ngũ nhân lực lớn và tiềm năng để nhanh
              chóng cập nhật thông tin chính xác đến người dùng. Ngoài các công
              cụ và dịch vụ hỗ trợ, Timtronhanh còn đưa ra hàng loạt các tính năng đáp
              ứng nhu cầu khách hàng nhanh chóng và kịp thời như mong muốn.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Timtronhanh.vn có đáp ứng được nhu cầu của bạn?
        </button>

        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p>
              Timtronhanh.vn còn là công cụ vô cùng hữu ích khi hỗ trợ người dùng có
              thể dễ dàng tìm được bất động sản để thuê hoặc mua một cách dễ
              dàng. Có hàng trăm tin đăng rao vặt bất động sản mỗi ngày và chỉ
              mất 3 phút tìm kiếm trên Timtronhanh.vn, bạn có thể đã chọn được một sản
              phẩm bất động sản thích hợp, đáp ứng đúng nhu cầu. Công cụ tìm
              kiếm đa năng này cho phép người dùng tìm kiếm bất động sản trên
              phạm vi cả nước nên vấn đề về vị trí không còn là nỗi lo lớn với
              người dùng vì mọi thứ đều đã sẵn sàng trên Timtronhanh.vn. Sử dụng dịch
              vụ từ Timtronhanh, bạn sẽ cảm nhận được sự hài lòng mà khó có nơi nào
              khác có thể mang đến.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Tầm nhìn tương lai?
        </button>

        <div
          id="collapseFive"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordion"
        >
          <div class="card-body">
            <p>
              Nổi bật có thể liệt kê các tính năng mới như “10 bước mua nhà”,
              “Giá nhà đất”, “Phòng trọ sinh viên”, “Phòng trọ công nhân” được
              ra đời nhắm đáp ứng nhu cầu của từng nhóm đối tượng cụ thể như
              người mua nhà lần đầu, các nhà môi giới, sinh viên và công nhân.
            </p>
            <p>
              Với sứ mệnh của mình, chúng tôi cam kết phục vụ bạn với đúng
              phương châm “Đúng nhà – đúng giá – đúng thời điểm”. Bất kì sản
              phẩm nào chưa đáp ứng đúng nhu cầu đang ngày một đa dạng của người
              dùng, chúng tôi đều nhanh chóng cải tiến và khắc phục.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
