<ul class="list-group">
  <li class="list-group-item">
    <a class="item-link" href="" routerLink="/admin">
      <img src="../../../../assets/dashboard.svg" alt="err?">
      <span class="item-text">Trang chủ</span>
    </a>
  </li>

  <li class="list-group-item">
    <a class="item-link" href="" routerLink="/admin/account-list">
      <img src="../../../../assets/users.svg" alt="err?">
      <span class="item-text">Quản lý tài khoản</span>
    </a>
  </li>

  <li class="list-group-item">
    <a class="item-link" href="" routerLink="/admin/category-list">
      <img src="../../../../assets/post.svg" alt="err?">
      <span class="item-text">Quản lý loại bài đăng</span>
    </a>
  </li>

  <li class="list-group-item">
    <a class="item-link" href="" routerLink="/admin/post-list">
      <img src="../../../../assets/category.svg" alt="err?">
      <span class="item-text">Quản lý bài đăng</span>
    </a>
  </li>
</ul>