<section class="about">
  <div class="container">
    <h2>Chúng tôi là ai?</h2>
    <div class="divi"></div>
    <p>Với quy mô hệ thống trên 110 tòa nhà tại Hà Nội - BẢN ĐÔN tự tin là đơn vị vận hành đầu tiên & tốt nhất áp dụng
      công nghệ 4.0 vào quản lý chung cư mini & nhà trọ. Là thương hiệu hàng đầu, chúng tôi có đội ngũ chuyên gia giàu
      kinh nghiệm, luôn giữ trách nghiệm cùng sự nhiệt huyết trong công việc.</p>
    <p>Chúng tôi luôn sẵn sàng phục vụ nhu cầu <b>"tìm nhà trọ, tìm phòng trọ, chung cư mini, căn hộ mini"</b> cho mọi
      khách
      hàng, với mong muốn "Xây dựng những căn phòng ĐẸP - Tạo dựng môi trường sống TỐT - Đảm bảo sự MINH BẠCH" cũng như
      QUYỀN LỢI cho người thuê phòng và cả cộng đồng.</p>
  </div>

  <div class="container">
    <h2>Có gì ở Chúng tôi?</h2>
    <div class="divi"></div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <img src="../../../assets/icon-server-01.png" alt="err?">
        <h4>Căn hộ</h4>
        <p>Vệ sinh sạch sẽ, không gian thoáng mát, đầy đủ nội thất lắp đặt mới.</p>
      </div>

      <div class="col-md-6 col-lg-4">
        <img src="../../../assets/icon-server-02.png" alt="err?">
        <h4>An ninh</h4>
        <p>Hệ thống an ninh đảm bảo an toàn từ "camera giám sát" đến "bảo mật vân tay".</p>
      </div>

      <div class="col-lg-4">
        <img src="../../../assets/icon-server-03.png" alt="err?">
        <h4>Hỗ trợ 24/24</h4>
        <p>Đội ngũ vận hành hỗ trợ 24h, xử lý mọi vấn đề cho người thuê phòng.</p>
      </div>
    </div>
  </div>
</section>