
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-9 col-lg-7">
      <div class="card">
        <h1>Quên mật khẩu</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Nhập địa chỉ email"
              [ngClass]="{
                'is-invalid':
                  form.get('email').errors &&
                  (form.get('email').touched ||
                    form.get('email').dirty)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.required"
            >
              Hãy nhập địa chỉ email.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.minlength"
            >
              Địa chỉ email ít nhất phải 8 ký tự.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.email"
            >
              Email không đúng định dạng.
            </div>
          </div>

          <button class="btn btn-block btn-primary" [disabled]="form.invalid">
            Lấy lại mật khẩu
          </button>
        </form>

        <p>
          Bạn nhớ rồi?
          <a routerLink="/auth">Đăng nhập</a> ngay.
        </p>
        <hr />
        <div class="d-flex justify-content-between">
          <p>
            Bạn là chủ nhà? <a routerLink="register">Đăng ký</a> hợp tác với
            chúng tôi.
          </p>
          <p><a routerLink="">Trở lại trang chủ</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
