.row {
  min-height: 100vh;

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  .card {
    border-radius: 0;
    box-shadow: 0 0 10px #d4d4d4;
    border: none;
    padding: 1.5rem;

    form {
      .form-group {
        label {
          font-weight: bold;
        }

        .form-control {
          border-radius: 0;
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
        }
      }

      .alert {
        border-radius: 0;
        border: none;
      }

      .btn {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0;
        background: #f39c12;
        border: none;
        outline: none;
      }
    }
  }
}
