<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-9 col-lg-7">
      <div class="card">
        <h1>Đăng ký</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fullName">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              id="fullName"
              placeholder="Nhập địa họ và tên"
              formControlName="fullName"
              [ngClass]="{
                'is-invalid':
                  form.get('fullName').errors &&
                  (form.get('fullName').touched || form.get('fullName').dirty)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('fullName').errors?.required"
            >
              Hãy nhập họ và tên.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('fullName').errors?.minlength"
            >
              Họ và tên ít nhất phải 8 ký tự.
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Nhập địa chỉ email"
              [ngClass]="{
                'is-invalid':
                  form.get('email').errors &&
                  (form.get('email').touched || form.get('email').dirty)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.required"
            >
              Hãy nhập địa chỉ email.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.minlength"
            >
              Địa chỉ email ít nhất phải 8 ký tự.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.email"
            >
              Email không đúng định dạng.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('email').errors?.duplicateEmail"
            >
              Email này đã tồn lại. <a routerLink="/auth/forgot-pasword">Quên mật khẩu?</a>
            </div>
          </div>

          <div class="form-group">
            <label for="phoneNumber">Số điện thoại</label>
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              placeholder="Nhập số điện thoại"
              formControlName="phoneNumber"
              [ngClass]="{
                'is-invalid':
                  form.get('phoneNumber').errors &&
                  (form.get('phoneNumber').touched ||
                    form.get('phoneNumber').dirty)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('phoneNumber').errors?.required"
            >
              Hãy nhập số điện thoại.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('phoneNumber').errors?.pattern"
            >
              Số điện thoại không đúng định dạng.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('phoneNumber').errors?.duplicatePhone"
            >
              Số điện thoại này đã tồn lại. <a routerLink="/auth/forgot-pasword">Quên mật khẩu?</a>
            </div>
          </div>

          <div class="form-group">
            <label for="fileUpload">Hình đại diện</label>
            <input
              type="file"
              class="form-control-file"
              #fileUpload
              id="fileUpload"
              accept="image/*"
              (change)="upload()"
            />

            <div *ngFor="let file of files">
              <div *ngIf="file.progress < 100">
                <b>Đang tải ảnh lên: </b>{{ file.progress }}%
              </div>
            </div>

            <div class="img-container mt-3">
              <img
                *ngFor="let link of links"
                src="{{ link }}"
                alt="err?"
                width="100x"
                height="100px"
              />
            </div>
          </div>

          <div class="form-group">
            <label>Giới tính</label>
            <div class="input-group">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="male"
                  formControlName="sex"
                  value="Nam"
                />
                <label class="custom-control-label" for="male">Nam</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="female"
                  formControlName="sex"
                  value="Nữ"
                />
                <label class="custom-control-label" for="female">Nữ</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="both"
                  formControlName="sex"
                  value="Khác"
                />
                <label class="custom-control-label" for="both">Cả hai</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="dateOfBirth">Ngày sinh</label>
            <input
              type="text"
              class="form-control"
              id="dateOfBirth"
              formControlName="dateOfBirth"
              [ngClass]="{
                'is-invalid':
                  form.get('dateOfBirth').errors &&
                  (form.get('dateOfBirth').touched ||
                    form.get('dateOfBirth').dirty)
              }"
              bsDatepicker
              [maxDate]="maxDate"
              placement="top"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('dateOfBirth').errors?.required"
            >
              Hãy nhập ngày sinh.
            </div>
          </div>

          <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Nhập mật khẩu"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  form.get('password').errors &&
                  (form.get('password').touched || form.get('password').dirty)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('password').errors?.required"
            >
              Hãy nhập mật khẩu.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('password').errors?.minlength"
            >
              Mật khẩu phải có ít nhất 8 ký tự.
            </div>
          </div>

          <div class="form-group">
            <label for="rePassword">Xác nhận mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="rePassword"
              placeholder="Xác nhận mật khẩu"
              formControlName="rePassword"
              [ngClass]="{
                'is-invalid':
                  form.get('rePassword').errors &&
                  (form.get('rePassword').touched ||
                    form.get('rePassword').dirty)
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.get('rePassword').errors?.required"
            >
              Hãy xác nhận mật khẩu.
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('rePassword').errors?.matchPassword"
            >
              Xác nhận mật khẩu không chính xác.
            </div>
          </div>

          <button class="btn btn-block btn-primary" [disabled]="form.invalid">
            Đăng ký
          </button>
        </form>

        <hr />
        <div class="d-flex justify-content-between">
          <p>
            Bạn đã có tài khoản?
            <a href="" routerLink="/auth">Đăng nhập</a> ngay.
          </p>
          <p><a href="" routerLink="">Trở lại trang chủ</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
