<div class="change-password">
  <h3>Thay đổi mật khẩu</h3>
  <p>Hành động này yêu cầu đăng nhập lại, gõ {{ email }} để xác nhận.</p>

  <form *ngIf="form; else loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="confirmEmail">Xác nhận email</label>
      <input
        type="text"
        class="form-control"
        id="confirmEmail"
        formControlName="confirmEmail"
        placeholder="Xác nhận địa chỉ email"
        [ngClass]="{
          'is-invalid':
            form.get('confirmEmail').errors &&
            (form.get('confirmEmail').touched || form.get('confirmEmail').dirty)
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="form.get('confirmEmail').errors?.required"
      >
        Hãy xác nhận địa chỉ email.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="form.get('confirmEmail').errors?.matchPassword"
      >
        Xác nhận email không chính xác.
      </div>
    </div>

    <button class="btn btn-block btn-primary" [disabled]="form.invalid">
      Gửi yêu cầu đổi mật khẩu
    </button>
  </form>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>
