<section class="hero">
  <!-- Slider-track -->
  <div class="slider">
    <!-- Slider item -->
    <div class="slide">
      <img src="../../../assets/banner.jpg" alt="err?">
      <div class="hero-content1">
        <h1>Đơn vị <span>số 1</span> <br> vận hành chung cư mini</h1>
        <p>Thương hiệu hàng đầu về cho thuê bất động sản, chung cư mini áp dụng công nghệ 4.0</p>
        <a href="" class="btn">Thử ngay</a>
      </div>
    </div>

    <!-- Slider item -->
    <div class="slide">
      <img src="../../../assets/banner2.jpg" alt="err?">
      <div class="hero-content2">
        <div class="outter d-flex justify-content-center align-items-stretch">
          <div class="inner">Nhà trọ</div>
          <div class="inner">Phòng trọ</div>
        </div>
        <p>Không chỉ mang tới cộng đồng những phòng trọ chất lượng mà còn cả môi trường - văn hóa sống tốt đẹp.</p>
      </div>
    </div>
  </div>
</section>