<app-hero></app-hero>

<app-about></app-about>

<section class="gallery">
  <div class="row no-gutters">
    <div class="col-md-6 col-xl-3">
      <img src="../../../assets/banner-view7.png" class="img-fluid" alt="err?">
    </div>
    <div class="col-md-6 col-xl-3">
      <img src="../../../assets/banner-view-8.png" class="img-fluid" alt="err?">
    </div>
    <div class="col-md-6 col-xl-3">
      <img src="../../../assets/banner-view-9.png" class="img-fluid" alt="err?">
    </div>
    <div class="col-md-6 col-xl-3">
      <img src="../../../assets/banner-view-10.png" class="img-fluid" alt="err?">
    </div>
  </div>
</section>

<app-feedback></app-feedback>

<app-faq></app-faq>