<footer class="bg-dark text-light">
  <section class="footer-info text-center text-md-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h5>Chúng tôi</h5>
          <p>Với hệ thống căn hộ tiện ích đạt chuẩn, Tìm Trọ Nhanh chú trọng xây dựng tính cộng đồng và phát triển đời
            sống xã
            hội cho thế hệ trẻ dựa trên sức mạnh của công nghệ.</p>
          <h4>CÔNG TY CỔ PHẦN ĐẦU TƯ TÌM TRỌ NHANH</h4>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <h5>Liên kết</h5>
          <ul>
            <li><a href="">Hướng dẫn tìm phòng</a></li>
            <li><a href="">Hình thức thanh toán</a></li>
            <li><a href="">Chính sách đổi/trả</a></li>
            <li><a href="">Chính sách bảo mật thông tin</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h6>Văn phòng </h6>
          <p>FPT Polytechnic, Trịnh Văn Bô, Hà Nội.</p>
        </div>
        <div class="col-lg-3">
          <h6>Email address </h6>
          <p>Timtronhanh@gmail.com</p>
        </div>
        <div class="col-lg-3">
          <h6>Số điện thoại</h6>
          <p>0328.795.691</p>
        </div>
        <div class="col-lg-2">
          <h6>Mạng xã hội</h6>
          <ul>
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-copyright">
    <div class="container">
      <p>&copy; Bản quyền thuộc về Tìm Trọ Nhanh</p>
    </div>
  </section>
</footer>