<section class="feedbacks">
  <div class="container">
    <h2>Báo chí nói gì về Tìm Trọ Nhanh?</h2>
    <div class="divi"></div>
    <div class="slider2">
      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-1.png" alt="err?"></a>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-2.png" alt="err?"></a>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-3.png" alt="err?"></a>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-4.png" alt="err?"></a>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-5.png" alt="err?"></a>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-6.png" alt="err?"></a>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <a href="https://kenh14.vn" target="blank"><img src="../../../assets/banner-logo-clients-7.png" alt="err?"></a>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Ý kiến khách hàng</h2>
    <div class="divi"></div>
    <div class="slider3">
      <!-- Slider item -->
      <div class="slide">
        <img src="../../../assets/banner-customer-2.png" alt="err?">
        <blockquote class="blockquote text-center">
          <p class="mb-1">Phòng của tôi ở 2.7 triệu đồng/ tháng, nhìn chung mọi thứ đều tốt. Tôi ở trọ 5,6 năm ngoài Hà
            Nội, chỉ quan tâm đến điện nước, ở đây giá điện nước áp tính theo giá nhà nước không bị thu cao, chưa thấy
            bị mất nước bao giờ, không như phòng cũ, cứ đến mùa hè là cả khu trọ bị mất nước 1,2 ngày rất khó chịu.</p>
          <footer class="blockquote-footer">Bạn <cite title="Source Title">Ngô Minh Chiến</cite></footer>
        </blockquote>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <img src="../../../assets/banner-customer-3.png" alt="err?">
        <blockquote class="blockquote text-center">
          <p class="mb-1">Tôi là kế toán mức lương cũng vừa đủ sống ở Hà Nội, đi tìm nhiều phòng ở khắp khu Cầu Giấy thì
            chọn được phòng hiện giờ của Bản Đôn, rất thích. Tôi thấy mọi thứ đều đầy đủ, có camera an ninh, có thiết bị
            PCCC mà nhiều nhà trọ khác không có, chẳng biết thế nào nhưng mình ở vẫn có cảm giác an tâm hơn.</p>
          <footer class="blockquote-footer">Bạn <cite title="Source Title">Trịnh Xuân Hải</cite></footer>
        </blockquote>
      </div>

      <!-- Slider item -->
      <div class="slide">
        <img src="../../../assets/banner-customer-5.png" alt="err?">
        <blockquote class="blockquote text-center">
          <p class="mb-1">Phòng trọ ở đây tốt đấy, từ khi chuyển sang đây chưa thấy có vấn đề gì xảy ra, an ninh tốt,
            điện nước ổn định. Bên này hợp đồng thuê nhà rõ ràng, được các anh làm đầy đủ cho tạm trú tạm vắng cũng thấy
            chuẩn chỉnh.</p>
          <footer class="blockquote-footer">Bạn <cite title="Source Title">Tăng Bá Minh</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>