<div class="admin-change-avatar">
  <h2>Thay đổi hình ảnh đại diện</h2>

  <div class="form-group">
    <input type="file" class="form-control-file" #fileUpload id="fileUpload" accept="image/*" (change)="upload()">

    <div *ngFor="let file of files">
      <div *ngIf="file.progress < 100"><b>Đang tải ảnh lên: </b>{{ file.progress }}%</div>
    </div>

    <div class="img-container mt-3">
      <img *ngFor="let link of links" src="{{ link }}" alt="err?" width="100x" height="100px">
    </div>
  </div>

  <button mat-raised-button (click)="back()">Quay lại</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Cập nhật</button>
</div>
