.admin-change-password {
  h2 {
    margin-bottom: 10px;
  }

  .card {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 10px #e2e2e2;

    .form-group {
      label {
        font-weight: 500;
      }

      .mat-form-field {
        min-width: 50%;
      }

      .mat-radio-button~.mat-radio-button {
        margin-left: 15px;
      }

      button~button {
        margin-left: 10px;
      }
    }
  }
}
